name: Actualizar subm贸dulos

on:
  push:
    branches:
      - main  # Cambia esto por la rama que uses
  workflow_dispatch:  # Permite ejecutarlo manualmente si es necesario

jobs:
  update-submodules:
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar repo padre con subm贸dulos
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.PAT }}

      - name:  Actualizar subm贸dulos
        run: |
          git submodule update --remote --merge
          git add .
          if git diff --cached --quiet; then
            echo "No hay cambios en los subm贸dulos, se detiene el proceso."
            exit 0
          fi
          git commit -m " Actualizaci贸n autom谩tica de subm贸dulos"
          git push origin main
