name:  Actualizar subm贸dulos cuando cambien

on:
  repository_dispatch:
    types: [submodule_update]

jobs:
  update-submodules:
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar repo padre con subm贸dulos
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.PAT }}

      - name:  Configurar git para autenticaci贸n
        run: |
          git config --global url."https://${{ secrets.GITHUB_TOKEN }}@github.com".insteadOf "git@github.com"

      - name:  Restablecer subm贸dulos y actualizar
        run: |
          # Inicializar subm贸dulos
          git submodule update --init --recursive
          
          # Hacer pull de los subm贸dulos y forzar la actualizaci贸n
          git submodule foreach --recursive 'git fetch --all && git reset --hard origin/main && git pull origin main'

      - name:  Agregar cambios y hacer commit
        run: |
          git add .
          if git diff --cached --quiet; then
            echo "No hay cambios en los subm贸dulos, se detiene el proceso."
            exit 0
          fi
          git commit -m " Actualizaci贸n autom谩tica de subm贸dulos"
          git push origin main
